html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft YaHei', Arial, sans-serif;
  background-color: #f4f6fa;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
